@model System.Collections.Specialized.NameValueCollection
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .table-bordered td
    {
        padding: 5px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>My info in Azure AD</h2>
        <table class="table-bordered">
            <tbody>
                @foreach (var key in Model.AllKeys)
                {
                    <tr>
                        <td>@key</td>
                        <td>@Model[key]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>